* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202124;
  color: white;
}

/* Navbar Start */
.glass-navbar {
  backdrop-filter: blur(20px);
  background: rgba(38, 40, 46, 0.8);
  border-radius: 10px;
  padding: 10px 20px;
  width: 90%;
  margin: 20px auto 0 auto;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

.navbar-brand:hover {
  color: #bbb;
}

.nav-link {
  color: #bbb;
  margin-right: 20px;
}

.nav-link:hover {
  color: white;
}
/* Navbar End */

/* Banner Start */
.img-fluid {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
